{
  "bar": {
    "height": 32,
    "backgroundColor": "transparent",
    "margins": {
      "top": 0,
      "bottom": 0,
      "left": 8,
      "right": 8
    },
    "module": {
        "height": 28,
        "backgroundColor": "transparent"
    },
    "section": {
        "height": 30,
        "backgroundColor": ""
    }
  }
}
